docutils==0.16
# was=py37h89c1867_2
jinja2==3.0.0
json_fix
markdown==3.3
mkdocs==1.2.3
numpy==1.19
pandas==1.1
pip==20.3
pkginfo==1.6.1
pyqt==5.12
python==3.12
python-dateutil==2.8
psutil==5.8
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.4.2
scikit-learn==0.23
scipy==1.6
sphinx==3.3
sphinx-math-dollar==1.2
sphinx-rtd-theme==0.5.0
tqdm==4.54
zeromq==4.3
